/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Hero section */
.hero {
  background: linear-gradient(135deg, #6e7aff, #bfe9ff);
  padding: 40px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Our Story section */
.our-story {
  background-color: #fff;
  padding: 40px;
}

.our-story h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Meet the Team section */
.team-members {
  display: flex;
  justify-content: space-between;
}

.member {
  text-align: center;
  margin: 20px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.member:hover {
  transform: scale(1.05);
}

.member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.member h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.member p {
  font-size: 14px;
  color: #888;
}

/* Contact Us section */


.contact-us h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-info p {
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.hotel-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .hotel-images img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .hotel-images img:hover {
    transform: scale(1.05);
  }
