.navbar {
    height: 60px;
    border-bottom: 0.5px solid rgb(230, 227, 227);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;
}

.navbar .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    margin-top: -21px;
}

.navbar .wrapper .search {
    display: flex;
    align-items: center;
    border: 0.5px solid lightgrey;
    padding: 3px;
}

.navbar .wrapper .search input {
    border: none;
    outline: none;
    background: transparent;
}

.navbar .wrapper .search input::placeholder {
    font-size: 12px;
}

.navbar .wrapper .items {
    display: flex;
    align-items: center;
}

.navbar .wrapper .items .item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.navbar .wrapper .items .item .icon {
    font-size: 20px;
}

.language {
    background-color: rgb(19, 18, 18);
    border: none;
}

.navbar .wrapper .items .item .counter {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;
}

.navbar .wrapper .items .item .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
