.Title {
    background: conic-gradient(crimson, coral);
    background-clip: text;
    color: transparent;
    background-size: 2000px 2000px;
    animation: rgb 5s infinite linear;
}

@keyframes rgb {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}