.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  /*CSS for Loading */
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text-loading {
    margin-left: 100px;
  }

.action-button .btn {
  display: flex;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
}
  